*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    caret-color: transparent;
}

html {
    scroll-behavior: smooth;
}

:root {
    --name: #ffffff;
    --coption: #0000008c;
    --coption-text: #e2e2e2;
    --green: #ccebc5;
    --purpel: #decbe4;
    --sand: #fed9a6;
    --yellow: #ffffcc;
    --brouwn: #e5d8bd;
    --pink: #faddec;
    --white: #f2f2f2;
}

body{
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

main{
    width: 100%;
    height: 100%;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

main button{
    width: 100%;
    aspect-ratio: 16/9;
    position: absolute;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

main button::after{
    content: "";
    display: block;
    width: 15%;
    aspect-ratio: 1/.6;

    background-image: url('../images/youtube.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;

    transition: .5s;

    position: absolute;
    top: calc(50% - 10%/2);
    left: calc(50% - 10%/2);
}

main button.hidden{
    background-image: none;
    /* background-color: #decbe4; */
}

main button.hidden::after{
    opacity: 0;
}

main button:hover::after{
    filter: drop-shadow(0 0 .5em white);
}
main button:focus::after{
    /* background-size: 15%; */
    animation: startHover .5s infinite both alternate linear;

}

@keyframes startHover{
    from{
        transform: rotate(10deg);
    }
    to{
        transform: rotate(-10deg);

    }
}

/* main iframe, */
main video{
    width: 100%;
    aspect-ratio: 16/9;
}


main section{
    width: 100%;
    height: 3vw;
    padding: 0 2vw;

    position: fixed;
    bottom: 7vh;

    display: grid;
    align-items: center;
}

main section h1{
    grid-area: 1/1/2/-1;
    width: fit-content;
    height: fit-content;

    justify-self: start;
    font-size: 2vw;
    color: var(--name);
    opacity: 50%;
    text-shadow: -.03em .03em 0 black;
}

main section ul{
    justify-self: center;
    list-style: none;

    /* width: fit-content; */
    width: 50%;
    /* width: fit-content; */
    height: fit-content;

    padding: .5em 2em;

    position: absolute;
    bottom: 0;

    border-radius: 5em;
    /* overflow-y: hidden; */
    
    background-color: transparent;
    /* background-color: red; */

    display: none;
    flex-direction: column;
    align-items: center;
    gap: .5em ;
}

main section ul.start{
    display: flex;
    background-color: var(--coption);
}

main section ul li{
    width: calc(100% - 2em);
    height: fit-content;
    font-size: 1.5em;
    /* text-align: center; */

    color: var(--coption-text);

    display: flex;
    align-items: center;
    gap: .5em;
}

main section ul li div{
    width: 2em;
    aspect-ratio: 1/1;
    /* background-color: blue; */
    border-radius: 50%;
    overflow: hidden;
}

main section ul li div img{
    width: 100%;
    display: block;
    
    object-position: center;
    object-fit: cover;
}


main section ul li p::before{
    content: " - ";
}


@media(max-height: 1500px){
    main section{
        bottom: 5vh;
    }
}
